In [2]:
import pandas as pd
import numpy as np
df = pd.read_excel(r'C:\Users\Playdata\OneDrive\miniPrj04.4.xlsx', engine='openpyxl')
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df= df.drop([0])

#배열로 입력해야 하는 부분입니다.
date = '2022.03.01'
index = 1
checkResult = ['○','○','지각','○','○','○','○','지각','○','○','○','지각','○','○','○','○','○','○','○',np.nan,'○','○','○','○','○',np.nan,'○','○',np.nan]


#배열의 요소들 dataframe(df)에 입력
df.insert(index,date,checkResult)
#오늘 참석자 수 date
df.at[29, date] = df.notnull().sum(axis=0)[index]
#df[date] = df.apply(lambda row: sum(row[:].notnull()) ,axis=1)
#df[date] = df[df != None].count(axis=1)

#참석일 attend_days
df['attend_days'] = df[df == '○'].count(axis=1)
df.at[29, 'attend_days'] = df['attend_days'].sum()

#지각일 late_days
df['late_days'] = df.apply(lambda row: sum(row[:]=='지각') ,axis=1)
df.at[29, 'late_days'] = df['late_days'].sum()

#결석일 absent_days
#df['absent_days'] = df.isnull().sum(axis = 1)
#df.at[29, 'absent_days'] = df['absent_days'].sum()
#df['absent_days'] = df[df == None].count(axis=1)
df['absent_days'] = df.apply(lambda row: sum(row[:].isnull()) ,axis=1)
#df.at[29, 'absent_days'] = df['absent_days'].sum()

#출석인정일 sum 
df['sum'] = df['attend_days']-df['absent_days']-np.trunc(df['late_days']/3)
#df.at[29, 'sum'] = df['sum'].sum()

df#출력 확인
#df.to_excel(r'C:\Users\Playdata\OneDrive\miniPrj04.4.xlsx', index=False) #OneDrive에 파일 덮어쓰기 가능

       이름 2022.03.01  attend_days  absent_days  late_days   sum
1     곽승희          ○            1            0          0   1.0
2     권건우          ○            1            0          0   1.0
3     김대희         지각            0            0          1   0.0
4     김동규          ○            1            0          0   1.0
5     김동주          ○            1            0          0   1.0
6     김민우          ○            1            0          0   1.0
7     김범석          ○            1            0          0   1.0
8     김은옥         지각            0            0          1   0.0
9     김정민          ○            1            0          0   1.0
10    김지훈          ○            1            0          0   1.0
11    박명서          ○            1            0          0   1.0
12    박민규         지각            0            0          1   0.0
13    박지수          ○            1            0          0   1.0
14    박태준          ○            1            0          0   1.0
15    안성은          ○            1            0          0   1.0
16    유주은          ○            1            0          0   1.0
17    윤경천          ○            1            0          0   1.0
18    윤재은          ○            1            0          0   1.0
19    이광훈          ○            1            0          0   1.0
20    이용광        NaN            0            1          0  -1.0
21    이욱진          ○            1            0          0   1.0
22    이현민          ○            1            0          0   1.0
23    임수신          ○            1            0          0   1.0
24    임승현          ○            1            0          0   1.0
25    정준영          ○            1            0          0   1.0
26    정승헌        NaN            0            1          0  -1.0
27    조연아          ○            1            0          0   1.0
28    한지웅          ○            1            0          0   1.0
29  total         26           23            2          3  20.0

In [3]:
#배열로 입력해야 하는 부분입니다.
date = '2022.03.02'
index = 2
checkResult = ['○','○','지각','○','○','○','○','지각','○','○','○','지각','○','○','○','지각','○','○','○','지각','○','○','○','○','○','지각','○','○','○']


#배열의 요소들 dataframe(df)에 입력
df.insert(index,date,checkResult) 
df.at[29, date] = df.notnull().sum(axis=0)[index]-1
#df[date] = df.apply(lambda row: sum(row[:].notnull()) ,axis=0)

#참석일 attend_days
df['attend_days'] = df[df == '○'].count(axis=1)
df.at[29, 'attend_days'] = df['attend_days'].sum()

#지각일 late_days
df['late_days'] = df.apply(lambda row: sum(row[:]=='지각') ,axis=1)
df.at[29, 'late_days'] = df['late_days'].sum()

#결석일 absent_days
#df['absent_days'] = df.isnull().sum(axis = 1)
#df.at[29, 'absent_days'] = df['absent_days'].sum()
#df['absent_days'] = df[df == None].count(axis=1)
df['absent_days'] = df.apply(lambda row: sum(row[:].isnull()) ,axis=1)
df.at[29, 'absent_days'] = df['absent_days'].sum()

#출석인정일 sum 
df['sum'] = df['attend_days']-df['absent_days']-np.trunc(df['late_days']/3)
#df.at[29, 'sum'] = df['sum'].sum()

df#출력 확인
#df.to_excel(r'C:\Users\Playdata\OneDrive\miniPrj04.4.xlsx', index=False) #OneDrive에 파일 덮어쓰기 가능

       이름 2022.03.01 2022.03.02  attend_days  absent_days  late_days   sum
1     곽승희          ○          ○            2            0          0   2.0
2     권건우          ○          ○            2            0          0   2.0
3     김대희         지각         지각            0            0          2   0.0
4     김동규          ○          ○            2            0          0   2.0
5     김동주          ○          ○            2            0          0   2.0
6     김민우          ○          ○            2            0          0   2.0
7     김범석          ○          ○            2            0          0   2.0
8     김은옥         지각         지각            0            0          2   0.0
9     김정민          ○          ○            2            0          0   2.0
10    김지훈          ○          ○            2            0          0   2.0
11    박명서          ○          ○            2            0          0   2.0
12    박민규         지각         지각            0            0          2   0.0
13    박지수          ○          ○            2            0          0   2.0
14    박태준          ○          ○            2            0          0   2.0
15    안성은          ○          ○            2            0          0   2.0
16    유주은          ○         지각            1            0          1   1.0
17    윤경천          ○          ○            2            0          0   2.0
18    윤재은          ○          ○            2            0          0   2.0
19    이광훈          ○          ○            2            0          0   2.0
20    이용광        NaN         지각            0            1          1  -1.0
21    이욱진          ○          ○            2            0          0   2.0
22    이현민          ○          ○            2            0          0   2.0
23    임수신          ○          ○            2            0          0   2.0
24    임승현          ○          ○            2            0          0   2.0
25    정준영          ○          ○            2            0          0   2.0
26    정승헌        NaN         지각            0            1          1  -1.0
27    조연아          ○          ○            2            0          0   2.0
28    한지웅          ○          ○            2            0          0   2.0
29  total         26         28           45            2          9  40.0

In [4]:
#배열로 입력해야 하는 부분입니다.
date = '2022.03.03'
index = 3
checkResult = ['○','○',np.nan,'○',np.nan,'○','○','○','○',np.nan,'○','지각','○','○','○','지각','○','○','○','지각','○','○','○','○','○','지각','○','○','○']


#배열의 요소들 dataframe(df)에 입력
df.insert(index,date,checkResult) 
df.at[29, date] = df.notnull().sum(axis=0)[index]-1
#df.at[29, date] = df.apply(lambda row: sum(row[:].isnull()) ,axis=1)

#참석일 attend_days
df['attend_days'] = df[df == '○'].count(axis=1)
df.at[29, 'attend_days'] = df['attend_days'].sum()

#지각일 late_days
df['late_days'] = df.apply(lambda row: sum(row[:]=='지각') ,axis=1)
df.at[29, 'late_days'] = df['late_days'].sum()

#결석일 absent_days
#df['absent_days'] = df.isnull().sum(axis = 1)
#df.at[29, 'absent_days'] = df['absent_days'].sum()
#df['absent_days'] = df[df == None].count(axis=1)
df['absent_days'] = df.apply(lambda row: sum(row[:].isnull()) ,axis=1)
df.at[29, 'absent_days'] = df['absent_days'].sum()

#출석인정일 sum 
df['sum'] = df['attend_days']-df['absent_days']-np.trunc(df['late_days']/3)
#df.at[29, 'sum'] = df['sum'].sum()

df#출력 확인
#df.to_excel(r'C:\Users\Playdata\OneDrive\miniPrj04.4.xlsx', index=False) #OneDrive에 파일 덮어쓰기 가능

,이름,2022.03.01,2022.03.02,2022.03.03,attend_days,absent_days,late_days,sum
1,곽승희,○,○,○,3,0,0,3.0
2,권건우,○,○,○,3,0,0,3.0
3,김대희,지각,지각,NaN,0,1,2,-1.0
4,김동규,○,○,○,3,0,0,3.0
5,김동주,○,○,NaN,2,1,0,1.0
6,김민우,○,○,○,3,0,0,3.0
7,김범석,○,○,○,3,0,0,3.0
8,김은옥,지각,지각,○,1,0,2,1.0
9,김정민,○,○,○,3,0,0,3.0
10,김지훈,○,○,NaN,2,1,0,1.0
11,박명서,○,○,○,3,0,0,3.0
12,박민규,지각,지각,지각,0,0,3,-1.0
13,박지수,○,○,○,3,0,0,3.0
14,박태준,○,○,○,3,0,0,3.0
15,안성은,○,○,○,3,0,0,3.0
16,유주은,○,지각,지각,1,0,2,1.0
17,윤경천,○,○,○,3,0,0,3.0
18,윤재은,○,○,○,3,0,0,3.0
19,이광훈,○,○,○,3,0,0,3.0
20,이용광,NaN,지각,지각,0,1,2,-1.0
21,이욱진,○,○,○,3,0,0,3.0
22,이현민,○,○,○,3,0,0,3.0
23,임수신,○,○,○,3,0,0,3.0
24,임승현,○,○,○,3,0,0,3.0
25,정준영,○,○,○,3,0,0,3.0
26,정승헌,NaN,지각,지각,0,1,2,-1.0
27,조연아,○,○,○,3,0,0,3.0
28,한지웅,○,○,○,3,0,0,3.0
29,total,26,28,25,66,5,13,57.0